.s-hero{
    background: url("../img/background-hero.jpg") no-repeat center center;
    background-size: cover;
    .opacity{
        width: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.97),rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.6));
    }
    .container{
        .main-hero{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 18rem 0rem 20rem 0rem;
            .text-hero{
                width: 100%;
                max-width: 50%;
                h1{
                    color:$text-color;
                    font-weight: bold;
                    font-size: 3.4rem;
                    line-height: 4rem;
                    margin-bottom: 3rem;
                }
                p{
                    color:$text-color;
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}

.s-sobre{
    padding: 9rem 0rem;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 3%, transparent 20%);
    .container{
        .main-sobre{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .text-sobre{
                padding: 8rem 0rem;
                width: 100%;
                max-width: 50%;
                h3{
                    padding-top: 1.5rem;
                    position: relative;
                    margin: 1.5rem 0rem;
                    font-weight: bold;
                    font-size: 2.1rem;
                    line-height: 2.5rem;
                }
                h2{
                    font-weight: bold;
                    font-size: 3.4rem;
                    line-height: 4rem;
                    margin-bottom: 3rem;
                    color: $red;
                }
                p{
                    font-size: 1.6rem;
                    text-align: justify;
                    line-height: 1.9rem;
                }
            }
            .img-sobre{
                width: 100%;
                max-width: 47rem;
                img{
                    border: 2px solid $black-color;
                    width: 100%;
                    max-width: 47rem;
                    height: 44rem;
                }
            }
        }
    }
}

.s-depoimentos{
    background: url("../img/background-depoimentos.jpg") no-repeat center center;
    background-size: cover;
    .opacity{
        width: 100%;
        background: linear-gradient(90deg,transparent,rgba(64, 1, 1, 0.904),rgba(64, 1, 1, 0.904),rgba(64, 1, 1, 0.904),transparent);
    }
    .container{
        .main-depoimentos{
            width: 100%;
            display: flex;
            padding: 15rem 0rem;
            align-items: center;
            justify-content: center;
            .text-depoimentos{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                h3{
                    color: #fff;
                    font-weight: bold;
                    font-size: 3.4rem;
                    line-height: 4rem;
                    position: relative;
                }
                span{
                    color: $yellow;
                    font-size: 3.4rem;
                    line-height: 4rem;
                    img{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}


.s-servicos{
    padding: 9rem 0rem;
    background-color: $black-color;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .container{
        .text-servicos{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h3{
                color: #fff;
                font-weight: bold;
                font-size: 2.1rem;
                line-height: 2.5rem;
                position: relative;
                text-align: center;
                padding: 1.5rem;
                .linha::after{
                    left:50%; 
                    transform:translate(-50%, -50%);
                }
            }
            h2{
                font-weight: bold;
                font-size: 3.4rem;
                line-height: 4rem;
                margin-bottom: 3rem;
                color: $yellow;
            }
        }
        .main-card-servicos{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem;
        }
        .main-cardapio{
            margin-top: 9rem;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .cardapio-almoco{
                padding: 3rem;
                width: 100%;
                max-width: 50%;
                background-color: $marrom-claro;
                border-radius: 2rem 0rem 0rem 2rem;
                border-right: 2px solid $red-escuro;
                .titulo{
                    span{
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                    }
                    h4{
                        margin: 1.5rem 0rem;
                        font-weight: bold;
                        font-size: 2.1rem;
                        line-height: 2.5rem;
                    }
                }
                ul{
                    display: none;
                    animation: fadeIn forwards .5s;
                    span{
                        color: $red-escuro;
                        align-self: center;
                        font-weight: 800;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                    }
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        &:not(:first-child){
                            margin-top: 3rem;
                        }
                        h6{
                            font-weight: 600;
                            font-size: 1.6rem;
                            line-height: 1.9rem;
                        }
                        .linha::after{
                            // top: 50%;
                            // transform:translate(-50%, -50%);
                            // bottom: 0;
                            // width: 100%;
                            // max-width: 37rem;
                            top: 50%;
                            right: 6rem;
                            width: 100%;
                            max-width: 37rem;
                        }
                        span{
                            font-weight: bold;
                            font-size: 1.6rem;
                            line-height: 1.9rem;
                        }
                    }
                    &.active{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            .cardapio-jantar{
                padding: 3rem;
                width: 100%;
                max-width: 50%;
                background-color: $marrom-claro;
                border-radius: 0rem 2rem 2rem 0rem;
                .titulo{
                    span{
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                    }
                    h4{
                        margin: 1.5rem 0rem;
                        font-weight: bold;
                        font-size: 2.1rem;
                        line-height: 2.5rem;
                    }
                }
                ul{
                    display: none;
                    animation: fadeIn forwards .5s;
                    span{
                        align-self: center;
                        font-weight: 800;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        color: $red-escuro;
                    }
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        &:not(:first-child){
                            margin-top: 3rem;
                        }
                        h6{
                            font-weight: 600;
                            font-size: 1.6rem;
                            line-height: 1.9rem;
                        }
                        .linha::after{
                            top: 50%;
                            transform:translate(-50%, -50%);
                            bottom: 0;
                            width: 100%;
                            max-width: 37rem;
                        }
                        span{
                            font-weight: bold;
                            font-size: 1.6rem;
                            line-height: 1.9rem;
                        }
                    }
                    &.active{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

.s-slide{
    padding: 9rem 0rem;
    .container{
        overflow: hidden;
        .s-main-slide{
            .main-slide-pratos{
                padding-top: 1rem;
                position: relative;
                .swiper-pagination{
                    border-radius: 2rem;
                }
                .swiper-pagination-progressbar-fill{
                    background-color: $red-escuro;
                    border-radius: 2rem;
                }
            }
            .s-text-slide{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h3{
                    color: $black-color;
                    font-weight: bold;
                    font-size: 2.1rem;
                    line-height: 2.5rem;
                    position: relative;
                    text-align: center;
                    padding: 1.5rem;
                    .linha::after{
                        left:50%; 
                        transform:translate(-50%, -50%);
                    }
                }
                h2{
                    font-weight: bold;
                    font-size: 3.4rem;
                    line-height: 4rem;
                    margin-bottom: 3rem;
                    color: $yellow;
                }
            }
        }
    }
}
@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}