$white: #FFFFFF;
$purple: #5F3CA1;
$yellow: #F2B33D;
$marrom-claro: #BF9460;;
$orange: #D95C14;
$red: #732727;
$red-escuro: #400101;
$text-color:#ffe4c4;
$black-color: #261F1D;
$gray-01: #453F51;
$gray-02: #5E5570;
$gray-titles: #5C5C5C;